.artistImage {
    max-width: 50px;
    max-height: 50px;
    padding-left: 5px;
}

.artistList {
    margin-left: 20px;
    gap: 20px;
}

.mainDiv {
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
}

.buttonContainer {
    display: flex; /* Use flexbox to align buttons in a row */
    align-items: center; /* Center buttons vertically within the container */
    justify-content: flex-end; /* Align buttons to the start of the container (left-aligned) */
    margin-right: 60px;
  }

  .buttonContainer .linkButton {
    margin-top: -50px; /* Adjust the margin-top as needed to move the button up */
  }

.spotifyIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.genre {
    text-align: center;
    margin-top: -40px;
}